* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto;
  background-color: darkblue;
}

.lightBlue {
  background-color: lightskyblue;
}

header {
  width: 80%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

h1,
p {
  flex: 1;
}
